.seccion-about {
    display: flex;
    min-height: 100vh;
    padding: 10vh 10% 0 10%;
}

.about-izquierda {
    order: 1;
    width: 50%;
    font-size: 1.2em;
    text-align: right;
    line-height: 1.7rem;
}

.about-derecha {
    width: 50%;
    margin-left: 5%;
    order: 2;
}

.about-derecha img {
    width: 100%;
    max-width: fit-content;
}

.seccion-about p {
    padding: 1rem 0;
    text-align: center;
}

.seccion-about h2, .seccion-about b {
    color: rgb(127, 255, 212);
    text-align: center;
}

@media screen and (max-width: 860px) {
    .seccion-about {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .about-derecha {
        min-width: 100%;
        margin: 0 0 5% 0;
        text-align: center;
    }

    .about-izquierda {
        text-align: justify;
        width: 100%;
    }
}
