.seccion-inicio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 85vh;
}

.seccion-inicio .inicio-izquierda {
    width: 60%;
    min-height: 600px;
    display: flex;
    background-color: #000;
}

.container__img {
    width: 100%;
    transition: .4s ease-in-out;
    position: relative;
    opacity: .7;
}

.container__img-texto {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: fit-content;
    line-height: 2.5em;
    text-align: center;
    opacity: 0;
    transition: 1s;
}

.container__img-texto h3 {
    width: 100%;
    font-size: 2em;
}

.container__img:hover {
    width: 200%;
    opacity: 1;
}

.container__img:hover .container__img-texto{
    opacity: 1;
}

.container__img img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.seccion-inicio .inicio-derecha {
    width: 40%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inicio-derecha h1 {
    font-size: 3em;
    width: 100%;
    padding: 0 5% 0 5%;
}

.inicio-derecha p {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0 5% 0 5%;
}

.inicio-derecha a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px;
    transition: all 0.5s;
}

.inicio-derecha a:hover {
    transform: scale(0.9);
    background-color: rgba(127, 255, 212, .5);
}


@media only screen and (max-width: 860px) {
    .seccion-inicio .inicio-izquierda {
        width: 100vw;
        display: block;
        outline: 2px solid red;
    }

    .container__img img {
        display: flex;
        margin: 0 auto;
        width: 80%;
    }

    .container__img:hover {
        width: 100%;
        opacity: 1;
    }

    .seccion-inicio .inicio-derecha {
        padding-top: 3%;
        width: 100vw;
        height: 30%;
        gap: 1em;
        text-align: center;
    }
}